<!DOCTYPE html>
<html lang="en" ng-app="confusionApp">

<head>
     <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head
         content must come *after* these tags -->
    <title>Ristorante Con Fusion: Menu</title>
        <!-- Bootstrap -->
    <!--build:css css/main.css-->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="styles/bootstrap-social.css" rel="stylesheet">
    <link href="styles/mystyles.css" rel="stylesheet">
    <!--endbuild-->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]--> 
</head>

<body>
    <div class="container">
        <div class="row row-content" ng-controller="detail">
            <ul class="media-list">
                <li class="media">
                    <div class="col-xs-12">
                        <div class="media-left media-middle">
                            <a href="#">
                            <img class="media-object img-thumbnail"
                            ng-src={{dish.image}} alt="Uthappizza">
                            </a>
                        </div>
                        <div class="media-body">
                            <h2 class="media-heading">{{dish.name}}
                            <span class="label label-danger">{{dish.label}}</span>
                            <span class="badge">{{dish.price | currency}}</span></h2>
                            <p>{{dish.description}}</p>
                        </div>
                    </div>
                    <div class="col-xs-9 col-xs-offset-1">
                        Search:
                        <input type="text" name="search" ng-model="sortBy">
                        <h3>Customer Comments</h3>
                        <li class="comments" ng-repeat="comment in dish.comments | orderBy: sortBy">
                            <blockquote>
                                <p>{{comment.rating}}</p>
                                <p>{{comment.comment}}</p>
                                <footer>{{comment.author}}, <cite title="Source Title">{{comment.date  | date : 'dd/MM/yyyy'}}</cite></footer>
                            </blockquote>
                        </li>
                    </div>
                </li>
            </ul>
            <div class="row row-content" ng-controller="CommentController">
                <!-- <p>Task 3: Here you include the code to show the live preview of the comment</p>
                <p>The comment should be shown only when the form contains valid
                information and is not pristine</p> -->
                <form class="form-horizontal" name="commentForm" ng-submit="submitComment()" novalidate>
                    <div class="form-group" ng-class="{ 'has-error' : commentForm.author.$error.required && !commentForm.author.$pristine }">
                        <label for="author" class="col-sm-2 control-label">Author: </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="author" name="author" placeholder="Enter your name.." ng-model="mycomment.author" required>
                            <span ng-show="commentForm.author.$error.required && !commentForm.author.$pristine" class="help-block">Your name is required.</span>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : invalidChannelSelection }">
                        <label for="review" class="col-sm-2 control-label"> Number of Stars:</label>
                        <div class="col-sm-10">
                            <label class="radio-inline">
                                <input type="radio" name="rating" ng-model="mycomment.rating" ng-value="1">1</label>
                            <label class="radio-inline">
                                <input type="radio" name="rating" ng-model="mycomment.rating" ng-value="2">2</label>
                            <label class="radio-inline">
                                <input type="radio" name="rating" ng-model="mycomment.rating" ng-value="3">3</label>
                            <label class="radio-inline">
                                <input type="radio" nane="rating" ng-model="mycomment.rating" ng-value="4">4</label>
                            <label class="radio-inline">
                                <input type="radio" name="rating" ng-model="mycomment.rating" ng-value="5">5</label>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : commentForm.comment.$error.required && !commentForm.comment.$pristine }">
                        <label for="feedback" class="col-sm-2 control-label">Your Feedback:</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="10" ng-model="mycomment.comment"></textarea>
                            <span ng-show="commentForm.comment.$error.required && !commentForm.comment.$pristine" class="help-block">Your name is required.</span>
                        </div>
                    </div>
                </form>
                <form class="form-horizontal" name="commentForm" ng-submit="submitComment()" novalidate>
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary" ng-disabled="commentForm.$invalid" novalidate>Send Feedback</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--build:js scripts/main.js-->
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers.js"></script>
    <script src="scripts/services.js"></script>
    <!--endbuild-->

</body>

</html>

